* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@media screen and (max-width: 850px) {
  .packages-container {
    width: 818px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 900px;
    width: 235px;
    margin-left: 33%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .packages-container .package1 {
    margin-bottom: 50px;
  }
  .packages-container .package2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 850px) {
  .top-boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-boxes .holder input {
    max-width: 300px;
  }
}
@media screen and (max-width: 850px) {
  .middle-boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-boxes .holder input {
    max-width: 300px;
  }
}
@media screen and (max-width: 850px) {
  .message-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .message-box .holder input {
    max-width: 450px;
  }
}
@media screen and (max-width: 850px) {
  .submit {
    max-width: 450px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .footer {
    max-width: 850px;
  }
  .footer .footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 500px;
  }
}
nav {
  max-width: 980px;
  height: 85px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}

.logo {
  width: 92px;
  height: 42px;
  border: 2px solid white;
  color: white;
  font-family: GillSans;
}
.logo p {
  margin-top: 23px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-family: GillSans;
}
.links span {
  color: #ffffff;
  margin: 0 20px;
}

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
}
.banner .banner-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner-header1 p {
  font-family: ProximaNovaCondensed;
  color: white;
  font-size: 60px;
  margin-top: 160px;
}
.banner .banner-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner-header2 p {
  margin-top: 30px;
  width: 750px;
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: GillSans;
}
.banner .read-more {
  margin: 0 auto;
  height: 40px;
  width: 120px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.banner .read-more p {
  margin-top: 14px;
  font-family: GillSans;
  color: white;
}

.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto;
}
.form-content .packages-container {
  width: 818px;
  height: 300px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-content .packages-container .package1 {
  width: 235px;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-content .packages-container .package1 .package-header {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package1 .package-header p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 60px;
}
.form-content .packages-container .package1 .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package1 .money p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 30px;
}
.form-content .packages-container .package1 .learn-more {
  margin: 0 auto;
  width: 133px;
  height: 40px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}
.form-content .packages-container .package1 .learn-more p {
  color: white;
  font-family: GillSans;
  margin-top: 15px;
}
.form-content .packages-container .package2 {
  width: 235px;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-content .packages-container .package2 .package-header {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package2 .package-header p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 60px;
}
.form-content .packages-container .package2 .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package2 .money p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 30px;
}
.form-content .packages-container .package2 .learn-more {
  margin: 0 auto;
  width: 133px;
  height: 40px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}
.form-content .packages-container .package2 .learn-more p {
  color: white;
  font-family: GillSans;
  margin-top: 15px;
}
.form-content .packages-container .package3 {
  width: 235px;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-content .packages-container .package3 .package-header {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package3 .package-header p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 60px;
}
.form-content .packages-container .package3 .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-content .packages-container .package3 .money p {
  color: white;
  font-family: ProximaNovaCondensed;
  font-size: 30px;
}
.form-content .packages-container .package3 .learn-more {
  margin: 0 auto;
  width: 133px;
  height: 40px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}
.form-content .packages-container .package3 .learn-more p {
  color: white;
  font-family: GillSans;
  margin-top: 15px;
}
.form-content .booking {
  font-family: ProximaNovaCondensed;
  font-size: 60px;
  margin-top: 40px;
}
.form-content .top-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-content .top-boxes .holder {
  position: relative;
}
.form-content .top-boxes .holder .long-box {
  width: 423px;
}
.form-content .top-boxes .holder input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 3px #79addc;
  border-style: solid;
}
.form-content .top-boxes .holder i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.form-content .middle-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-content .middle-boxes .check {
  font-family: GillSans;
  font-size: 18px;
}
.form-content .middle-boxes .holder {
  position: relative;
}
.form-content .middle-boxes .holder .long-box {
  width: 423px;
}
.form-content .middle-boxes .holder input {
  width: 700px;
  height: 58px;
  padding-left: 10px;
  border: 3px #79addc;
  border-style: solid;
}
.form-content .middle-boxes .holder i {
  position: absolute;
  top: 20px;
  right: 20px;
}
.form-content .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-content .bottom-container .bottom-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-content .bottom-container .bottom-boxes .check {
  font-family: GillSans;
  font-size: 18px;
  margin-right: 40px;
}
.form-content .bottom-container .bottom-boxes .holder {
  position: relative;
}
.form-content .bottom-container .bottom-boxes .holder .long-box {
  width: 423px;
}
.form-content .bottom-container .bottom-boxes .holder input {
  width: 100px;
  height: 58px;
  padding-left: 10px;
  border: 3px #79addc;
  border-style: solid;
}
.form-content .bottom-container .bottom-boxes .holder i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 30px;
}
.form-content .message-box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-content .message-box .holder {
  position: relative;
}
.form-content .message-box .holder .long-box {
  width: 423px;
}
.form-content .message-box .holder input {
  width: 818px;
  height: 192px;
  padding-left: 10px;
  border: 3px #79addc;
  border-style: solid;
}
.form-content .message-box .holder i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 30px;
}
.form-content .submit {
  background-color: #79addc;
  width: 818px;
  height: 50px;
  border-radius: 100px;
  margin-top: 37px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-content .submit p {
  margin-top: 15px;
  font-family: GillSans;
  color: white;
}

@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: ProximaNovaCondensed;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.footer {
  width: 1280px;
  background-color: #79addc;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-container {
  width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-container .logo-footer {
  width: 92px;
  height: 42px;
  border: 2px solid white;
  color: white;
  font-family: GillSans;
}
.footer .footer-container .logo-footer p {
  margin-top: 23px;
}
.footer .footer-container .footer-text {
  color: white;
  font-family: GillSans;
}
.footer .footer-container .icons {
  color: white;
  font-size: 20px;
}