.tour-hero {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;

  .tour1-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour1-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour2-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour2-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour3-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour3-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour4-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour4-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour5-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour5-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour6-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour6-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour7-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-07.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour7-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour8-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-08.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour8-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }

  .tour9-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tour-09.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 413px;
    width: $site-width;

    p {
      margin-left: 30px;
      margin-top: 18px;
      font-family: $proxima-nova;
      font-size: 80px;
      color: white;
    }

    .tour9-price {
      position: absolute;
      font-family: $proxima-nova;
      font-size: 30px;
      color: white;
      bottom: 0;
      right: 15%;
    }
  }
}

.tour-image-container {
  display: flex;
  justify-content: center;

  .tour-images {
    width: $site-width;
    height: 347px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .tour-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour2-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour2-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour2-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour3-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour3-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour3-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour4-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour4-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour4-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour5-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour5-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour5-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour6-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour6-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour6-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour7-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour7-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour7-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour8-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour8-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour8-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour9-image-1 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour9-image-2 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tour9-image-3 {
      width: 298px;
      height: 347px;
      background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.tour-text-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .tour-text-container {
    width: $site-width;
    height: 776px;
    .tour-text {
      .tour-text-h1-1 {
        font-size: 60px;
        font-family: $proxima-nova;
      }

      .underline {
        height: 2px;
        width: 171px;
        background-color: black;
        margin-top: -10px;
      }

      p {
        margin-top: 36px;
        margin-bottom: 70px;
        font-size: 16px;
        font-family: $gill-sans;
      }
    }
  }
}

.book-now {
  display: flex;
  justify-content: center;

  .book-now-object {
    width: 133px;
    height: 40px;
    background-color: $site-blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;

    p {
      margin-top: 15px;
      color: white;
      font-family: $gill-sans;
      font-size: 15px;
    }
  }
}
