.banner {
  max-width: $banner-footer-width;
  height: $banner-height;
  background-image: linear-gradient(
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;

  .banner-header1 {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: $proxima-nova;
      color: white;
      font-size: 60px;
      margin-top: 160px;
    }
  }

  .banner-header2 {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 30px;
      width: 750px;
      color: white;
      text-align: center;
      font-size: 17px;
      font-family: $gill-sans;
    }
  }

  .read-more {
    margin: 0 auto;
    height: 40px;
    width: 120px;
    background-color: #79addc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p {
      margin-top: 14px;
      font-family: $gill-sans;
      color: white;
    }
  }
}
